.table {
  width: 100%;
}

.table table {
  width: inherit;
  border-collapse: collapse;
}

.table table tr {
  border-bottom: 1px solid var(--primary);
}

.table table thead tr th {
  width: 25%;
  text-align: left;
  height: 2.5rem;
  font-size: 0.8rem;
}

.table table tbody tr td {
  width: 25%;
  height: 2.5rem;
  font-size: 0.8rem;
}
