@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --primary: #e9e8e8;
  --secondary: #ffffff;
  --black: #222222;

  /*colors*/
  /* --primary: #c82586;
  --secondary: #afb4ff; */
  --white: #fff;
  --grey: rgba(128, 128, 128, 0.5);
  --blue: blue;

  /*font*/
  --font-size: 1rem;
  --font-weight: 500;

  /*radius*/
  --radius-1: 50px;
  --radius-2: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary);
}
